body{
  display: grid;
  grid-template-rows: 21vh 78vh;
}

.game-field {
  background-color: orange;
  /* min-height: 10vh; */
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.game-field:not(.target):not(.miss):active{
  background-color: black;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: red;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

 /* clock */

.clock {
  position: relative;

  height: 20vh;
  width: 20vh;
 }

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 2px;
  z-index: 10;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation: rotate 60s infinite steps(60);
}
